/**
 * Card (<article>)
 */

article {
  margin: var(--block-spacing-vertical) 0;
  padding: var(--block-spacing-horizontal) var(--block-spacing-horizontal);
  border-radius: var(--border-radius);
  background: var(--card-background-color);

  > header,
  > footer {
    margin-right: calc(var(--block-spacing-horizontal) * -1);
    margin-left: calc(var(--block-spacing-horizontal) * -1);
    padding: calc(var(--block-spacing-vertical) * 0.66)
      var(--block-spacing-horizontal);
    background-color: var(--card-sectioning-background-color);
  }

  > header {
    margin-top: calc(var(--block-spacing-vertical) * -1);
    margin-bottom: var(--block-spacing-vertical);
    border-bottom: var(--border-width) solid var(--card-border-color);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  > footer {
    margin-top: var(--block-spacing-vertical);
    margin-bottom: calc(var(--block-spacing-vertical) * -1);
    border-top: var(--border-width) solid var(--card-border-color);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
}

// Link cards
a > article {
  box-shadow: var(--card-box-shadow);
  color: #{$neutral-700};
}

a:is([aria-current], :hover, :active, :focus) > article {
  background-color: var(--card-focus-background-color);
  text-decoration: none;
}

// .outline
@if $enable-classes {
  // Outline
  article.outline {
    border: var(--card-border-width) solid var(--card-outline-border-color);
    background: transparent;
  }
}
